<h1>Longestwords#score</h1>
<p>Find me in app/views/longestwords/score.html.erb</p>

******** Welcome to the longest word-game !******** <br>
<br>

Here is your grid : <br>
 <br>

***************************************************** <br>

What's your best shot ? <br>
<p> > <%= @guess %></p> <br>

******** Now your results ******** <br>
<br>
Your word: <%= @guess %> <br>
Time Taken to answer: 12.07916 <br>
Translation: soulever <br>
Your score: 3.194722666666667 <br>
Message: well done
